

.board {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 50%;
}

.board > div {
  width: 40px;
  height: 40px;
  background-color: #7700EE;
  text-align: center;
  border-color: #000000;
  border-width: thin;
  
}
.board > div.inactive {
  border-color: #50ce6f;
  
}
.board > div.horizontal {
  background-color: #8888F8;
  
}
.board > div.vertical {
  background-color: #F888F8;
  
}
.board > div.current {
  border-block-color: #671209;
  animation: pulse 1s infinite;
  background-color: #48e21d;
  
}
.board > div.mine {
  background-color: #8FF8F8;
  
}
.board > div.first {
  background-color: #8888F8;
}

@keyframes pulse {
  	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	50% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}