
.board {
  display: grid;
  width: 50%;
}

.challengerName {
  color: deeppink;
  font-size: larger;
}

.taunt {
  color: deeppink;
  font-size: x-large;
}
.taunt::after {
  content: '"';
}
.taunt::before {
  content: '"';
}

.board > div {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  margin: 3px;
  border-width: thin;
  
  position: relative;
  display: inline-block;
}

.board > div > sub {
  color: #00000089;
  font-size:xx-small;
}
.board > div.irrelevant {
  background-color:rgb(241, 237, 231);
  border-color: #ceb150;
  color: rgb(241, 237, 231);
  
}
.board > div.relevant {
  background-color:burlywood;
  border-color: #50ce6f;
  
}
.board > div.horizontal {
  background-color: #8888F8;
  
}
.board > div.vertical {
  background-color: #F888F8;
  
}
.board > div.current {
  border-block-color: #d12715;
  animation: pulse 1s infinite;
  background-color: #9b860ed1;
}

.board > div:hover {
  border-block-color: #d12715;
  background-color:blueviolet;
  z-index: +10;
}
.board > div.mine {
  background-color: #8FF8F8;
  
}
.board > div.first {
  background-color: #8888F8;
}

.board > div .tooltip {
  visibility: hidden;
  width: 120;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: smaller;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.board > div:hover .tooltip {
  visibility: visible;
}

.board > div.doubleLetter {
  background-color: #10bd4a7c;
}

.board > div.tripleLetter {
  background-color: #10bd4aed;
  color: antiquewhite;

}

.board > div.doubleWord {
  background-color: #bd10867c;

}

.board > div.tripleWord {
  background-color: #bd1086ed;
  color: antiquewhite;

}

@keyframes pulse {
  	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	50% {
		transform: scale(1.05);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}